NODE_ENV=development
APP_PORT=
APP_NAME="Course Manager API"
API_PREFIX=api

DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=course-manager-db
DATABASE_PORT=
DATABASE_URL=
WALLET_SERVICE_URL=
MARKETPLACE_PORTAL_URL=
USER_SERVICE_URL=
USER_SERVICE_TOKEN=
USER_SERVICE_COOKIE=

# MINIO
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
MINIO_BUCKET_NAME=
